<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Sun Protector</title>
</head>
<body>
    <h1 class="display-2">Sun Protector☀️</h1>


    <!--2 INPUT FORMS-->
    <form action="GET">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Your Latitude</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="From -90.00 to 90.00">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Your Longitude</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="From -180.00 to 180.00">
    </form>
      </div>


<!--SUBMIT BUTTON-->
      <button type="button" class="btn btn-primary btn-lg btn-warning">Submit</button>
</body>
</html>